language: node_js
node_js:
  - "8"

services:
  - postgres

env:
  global:
  - NODE_ENV=test

before_script:
  - psql -c 'drop database if exists authors_haven_test;' -U postgres
  - psql -c 'create database authors_haven_test' -U postgres
  - npm run migrations

script:
  - npm test

after_success:
  - npm run coverage